// out: css/main.css, sourcemap: true

//Color Variables
@scarysanta:  darken(red, 30%);
@scarysanta-mute: desaturate(@scarysanta, 50%);
@scarysanta-light: lighten(@scarysanta, 50%);
@scaryelf: darken(green, 15%);
@scaryelf-light: lighten(@scaryelf, 20%);

//Type Variables
@regular: 20px;
@large: @regular * 1.5;
@x-large: @large * 1.25;

body {
  font-family: 'Allan', cursive;
  font-style: normal;
 margin-bottom: 20px;
  background-color: @scarysanta;
  color: @scaryelf-light;

  font-size: @regular;

+ h2 { margin-top: -20px;
}
}







h1 {
  font-family: 'Sue Ellen Francisco', cursive;
  border-top: 15px solid @scaryelf;
  color: white;
  font-size: @x-large;

}




h2 {

  font-size: @large;

  + p {
    margin-top: 36px;
  }
}


img {
  flot: left;

  width: 300px;

  margin-left: 20px;
  margin-right: 0px;

}

p {

  img {
    float: right;
    width: 100px;


  }
}
